section 
    margin-left: 25%
    margin-right: 25%
    margin-bottm: 20px
    h1 
        font-family: 'Sacramento', cursive
        font-size: 300px  
        font-weight: 90 
        line-height: 150px
        margin: 0px
    h2
        font-family: 'Sacramento', cursive
        font-size: 270px  
        font-weight: 100 
        line-height: 290px  
        margin: 0px
    // h6 starts at $base-font-size 
// headings grow from h6 to h1 by $heading-scale
