body
  margin: 0;
  padding: 0;
 
.title-section
  background-image: url('/assets/bg.jpg'); 
  background-repeat: no-repeat;
  
.main-section
  margin-top: 200px;
  
mat-card
  height: 100%;
  margin: 20px;
  
section         
    h2
        font-family: 'Special Elite', cursive;
        font-size: 50px;
        font-weight: 50; 
        line-height: 180px;
        margin-left: 300px

.label
    font-family: 'Special Elite', cursive;
    // h6 starts at $base-font-size 
// headings grow from h6 to h1 by $heading-scale

.example-icon 
  padding: 0 14px;


.example-spacer 
  flex: 1 1 auto;